
#signup-form{
    
    display: none;
}


*{
    margin: 0;
    padding: 0;
    /* width값이 박스 전체의 너비 */
    box-sizing: border-box;
}

body{
    background-color: #222;
    
    /* 높이를 뷰의 100%만큼 */
    height: 100vh;


    display: flex;
    /* 주 방향을 가운데로 정렬 */
    justify-content: center;


    /* 부 방향을 가운데로 정렬 */
    align-items: center;
    /*height: 100vh; */

}

.form-container{
    width: 600px;
    /* margin: auto; */
    padding: 50px;
    background-color:#333;
    box-shadow: 0 0 10px rgba,(0,0,0,0.2);
    border-radius: 10px;
    color: #fff;
}

h1{
    /* 박스 안의 글자를 가운데 정렬 */
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #b38bff;

}

form{
    display: flex;
    /* 자식의 정렬 방향을 열(위에서 아래) */
    flex-direction: column;
}

label{
  margin-bottom: 10px;
  font-size: 20px;  
}

input{
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;    
    
    border: none;
    border-radius: 15px;
}

button{
    padding: 10px;
    background-color: #b38bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;

    /* 이벤트가 발생 했을 때 스타일의 변화를 자연스럽게 */
    transition: background-color 0.3 ease-in-out;

}

button:hover{
    background-color: #8c5fb2;
}
p{
    text-align: center;
    margin: 8px;
}

a{
    text-decoration: none;
    color: #b38bff;
    font-size: 20px;
    
}



